include TopLineData

mixin TopLineArrow(pos,link)
	span.TopLine__arrow(class="TopLine__arrow_"+`${pos}`)
		span
			+Icons('arrow_'+`${link}`)

mixin TopLine
	section.TopLine
		.TopLine__container.Container
			+TopLineArrow('top','down')
			.TopLine__box
				.TopLine__flex
					each x in TopLineData
						a.TopLine__item(href=x.href)
							span.TopLine__icon
								+Icons(`${x.link}`,'TopLine__icon')
							span.TopLine__content= x.content
					+TopLineArrow('bottom','up')
