- 
	let 
		ServiceContentData = {
								'img1': "",
								'img2': "",
								'img3': "",
								'Title1': "",
								'Title2': "",
								'Text1': "",
								'Text2': "",
								'Text3': "",
								'Text4': "",
							}


mixin Service-Content--All
	section.Service-Content.Container
		+Service-Content__Aside
		main.Service-Content__Main
			.Service-Content__Row
				+Card(ServiceBannerInfo[0])
				+Card(ServiceBannerInfo[1])
			.Service-Content__Row
				+Card(ServiceBannerInfo[2])
				+Card(ServiceBannerInfo[3])

mixin Service-Content--Services(x)
	section.Service-Content.Container
		+Service-Content__Aside
		main.Service-Content__Main
			.Service-Content__Row.Service-Content__Img-Box
				.Service-Content__Column
					img.Service-Content__Img(src= x.img1)
				.Service-Content__Column
					img.Service-Content__Img(src= x.img2)
					img.Service-Content__Img(src= x.img3)
			.Service-Content__Row
				.Service-Content__Column
					h2.Service-Content__Title= x.Title1
					p.Service-Content__Text= x.Text1 
					p.Service-Content__Text= x.Text2 
				.Service-Content__Column
					h2.Service-Content__Title= x.Title2
					p.Service-Content__Text= x.Text3 
					p.Service-Content__Text= x.Text4

mixin Service-Content__Aside
		aside.Service-Content__Aside
			+Service-Menu('Service-Content__Service-Menu')
			h2.Service-Content__Title.Service-Content__Title_view_pale Наши Контакты
			+Contacts-info('Service-Content__Contacts-info')